@use "../../app/css/root.scss";
.ChangePassword {
  align-self: center;
  justify-self: center;
  width: 40vw;
  &.Block {
    display: flex;
    flex-direction: column;
    .groupButtons {
      margin: root.$margin-default;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: root.$columngap-default;
    }
  }
}
