@import "./root.scss";
.loadership_Dialog {
  .modal-content {
    background-color: transparent !important;
  }

  .loadership_ILQMG {
    display: flex;
    position: relative;
    width: 54px;
    height: 54px;
  }

  .loadership_ILQMG div {
    position: absolute;
    width: 18px;
    height: 18px;
    background: $loadership-background-color;
    animation: loadership_ILQMG_scale 1.9s infinite,
      loadership_ILQMG_fade 1.9s infinite;
    animation-timing-function: ease-in-out;
  }

  .loadership_ILQMG div:nth-child(1) {
    animation-delay: 0s;
    top: 0px;
    left: 0px;
  }
  .loadership_ILQMG div:nth-child(2) {
    animation-delay: 0.15s;
    top: 0px;
    left: 18px;
  }
  .loadership_ILQMG div:nth-child(3) {
    animation-delay: 0.3s;
    top: 0px;
    left: 36px;
  }
  .loadership_ILQMG div:nth-child(4) {
    animation-delay: 0.15s;
    top: 18px;
    left: 0px;
  }
  .loadership_ILQMG div:nth-child(5) {
    animation-delay: 0.3s;
    top: 18px;
    left: 18px;
  }
  .loadership_ILQMG div:nth-child(6) {
    animation-delay: 0.45s;
    top: 18px;
    left: 36px;
  }
  .loadership_ILQMG div:nth-child(7) {
    animation-delay: 0.3s;
    top: 36px;
    left: 0px;
  }
  .loadership_ILQMG div:nth-child(8) {
    animation-delay: 0.45s;
    top: 36px;
    left: 18px;
  }
  .loadership_ILQMG div:nth-child(9) {
    animation-delay: 0.6s;
    top: 36px;
    left: 36px;
  }

  @keyframes loadership_ILQMG_scale {
    0%,
    47.36842105263158%,
    100% {
      transform: scale(1);
    }
    23.68421052631579% {
      transform: scale(0);
    }
  }

  @keyframes loadership_ILQMG_fade {
    0%,
    47.36842105263158%,
    100% {
      opacity: 1;
    }
    23.68421052631579% {
      opacity: 1;
    }
  }
}
