// colors palette - theme original
$palette-theme-origin-color-1: #656565;
$palette-theme-origin-color-2: #8c6cb1;
$palette-theme-origin-color-3: #f8a6c1;
$palette-theme-origin-color-4: #f2598b;
$palette-theme-origin-color-5: #0d1117;
$palette-theme-origin-color-6: #cfcfcf;
$palette-theme-origin-color-7: #5096c5;
$palette-theme-origin-color-8: #e7e4e4;
$palette-theme-origin-color-9: #515151;
$palette-theme-origin-color-10: #653799;
$palette-theme-origin-color-11: #f5637e;
$palette-theme-origin-color-12: #ef145c;
$palette-theme-origin-color-13: #5b5de9;
$palette-theme-origin-color-14: #7c7a7a;
$palette-theme-origin-color-15: #008000;
$palette-theme-origin-color-16: #ff0000;
$palette-theme-origin-color-17: #ffa500;
$palette-theme-origin-color-18: #615f5f;
$palette-theme-origin-color-19: #f2598b;
$palette-theme-origin-color-20: #fcf6f6;
$palette-theme-origin-color-21: #e7dfdf;
$palette-theme-origin-color-22: #d6d5d5;
$palette-theme-origin-color-23: #dbdbdb;
$palette-theme-origin-color-24: #00000014;
$palette-theme-origin-color-25: #fffafa;
$palette-theme-origin-color-26: #424242;
$palette-theme-origin-color-27: #ebebeb;

$color-text-primary: $palette-theme-origin-color-5;
$color-text-primary-dark: $palette-theme-origin-color-6;

$color-text-secondary: $palette-theme-origin-color-6;
$color-text-secondary-dark: $palette-theme-origin-color-5;

$color-primary-focus: $palette-theme-origin-color-7;

$color-primary-box-shadow: $palette-theme-origin-color-8;
$color-primary-box-shadow-dark: $palette-theme-origin-color-9;

$color-success: $palette-theme-origin-color-10;
$color-error: $palette-theme-origin-color-11;
$color-error-dark: $palette-theme-origin-color-11;

$background-color-warning: $palette-theme-origin-color-12;
$color-info: $palette-theme-origin-color-13;
$color-placeholder: $palette-theme-origin-color-14;

$button-generic-background-color: $color-text-secondary;
$button-generic-color: $color-text-primary;

$background-color: $palette-theme-origin-color-25;
$background-color-dark: $palette-theme-origin-color-5;

// padding - margin
$padding-default: 0.5rem 0.5rem;
$padding-badge: 0 0.4rem;
$margin-default: 0.5rem;
$fixedheadermargintop: 5rem;

// gap
$rowgap-default: 1rem;
$columngap-default: 1rem;

// borders
$border-radius-default: 4px;
$border-radius-button: 4px;
$border-radius-control: 10px;
$border-radius-badge: 4px;
$border-radius-round: 100%;
$border-radius-toast: 8px;

$border-color: $palette-theme-origin-color-20;
$border-color-dark: $palette-theme-origin-color-26;
$border-color-search: $palette-theme-origin-color-2;
$border-color-search-dark: $palette-theme-origin-color-2;
$border-default: 1px solid $border-color;
$border-default-dark: 1px solid $border-color-dark;
$border-dashed: 1px dashed $border-color;
$border-dashed-dark: 1px dashed $border-color-dark;
$border-search: 1px solid $border-color-search;
$border-search-dark: 1px solid $border-color-search-dark;

// Badges
$badge-background-color: $palette-theme-origin-color-18;
$badge-background-color-success: $palette-theme-origin-color-15;
$badge-color-success: $palette-theme-origin-color-25;
$badge-color-success-dark: $palette-theme-origin-color-27;
$badge-background-color-error: $palette-theme-origin-color-16;
$badge-color-error: $palette-theme-origin-color-25;
$badge-color-error-dark: $palette-theme-origin-color-27;
$badge-background-color-warning: $palette-theme-origin-color-17;
$badge-color-warning: $palette-theme-origin-color-27;
$badge-color-warning-dark: $palette-theme-origin-color-27;
$badge-label-color: $palette-theme-origin-color-27;
$badge-label-color-dark: $palette-theme-origin-color-27;

// box-shadow
$boxshadow-default: 4px 4px 10px 2px $color-primary-box-shadow;
$boxshadow-default-dark: none;
$boxshadow-toast: 3px 1px 3px 1px $color-primary-box-shadow;
$boxshadow-toast-dark: none;

// inputs
$input-outline-default: 1px solid $color-primary-focus;

// Toast
$toast-border-size: 6px;
$toast-border-type: solid;
$toast-color-info: $color-info;
$toast-color-border-info: $toast-border-size $toast-border-type
  $toast-color-info;
$toast-color-success: $color-success;
$toast-color-border-success: $toast-border-size $toast-border-type
  $toast-color-success;
$toast-color-error: $color-error;
$toast-color-border-error: $toast-border-size $toast-border-type
  $toast-color-error;
$toast-color-warn: $palette-theme-origin-color-12;
$toast-color-border-warn: $toast-border-size $toast-border-type
  $toast-color-warn;
$toatst-color-detail: $palette-theme-origin-color-1;
$toatst-color-button: $palette-theme-origin-color-1;

// Dialog
$dialog-color-background: $palette-theme-origin-color-5;
$dialog-opacity: 0.5;
$dialog-background-color: $palette-theme-origin-color-6;
$dialog-header-color: $palette-theme-origin-color-18;
$dialog-header-button-background-color: $color-text-secondary;
$dialog-header-button-color: $color-text-primary;

$app-logo-width: 100px;
$app-logo-height: $app-logo-width;

//form scrap content
$form-scrap-content-height: 10vh;

// flex tables
$table-header: transparent;
$font-color-header: $color-text-primary;

//button
$button-search-color: $palette-theme-origin-color-19;
$button-search-color-dark: $palette-theme-origin-color-19;
$button-generic-border-color-focus: $palette-theme-origin-color-16;

//stepper
$stepper-background-color: $palette-theme-origin-color-21;
$stepper-background-color-dark: $palette-theme-origin-color-21;

//toast

//UserManager
$userManager-row-hover-background: $palette-theme-origin-color-23;
$userManager-row-hover-background-dark: $palette-theme-origin-color-23;

//loadership
$loadership-background-color: $palette-theme-origin-color-10;

//Summary
$sumury-keyframes-greenPulse-color-1: $palette-theme-origin-color-2;
$sumury-keyframes-greenPulse-color-2: $palette-theme-origin-color-3;
$sumury-keyframes-greenPulse-color-3: $palette-theme-origin-color-4;

//logo

$logo-background-image: url("/assets/MytinyDC_logo-brand-full.png");
$logo-background-image-dark: url("/assets/MytinyDC_logo-brand-full-darkmode.png");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-text-primary;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
  }
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
  font-size: 14px;
  font-variation-settings: normal;
  color: $color-text-primary;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

legend,
h1,
h2,
h3 {
  color: $color-text-primary;
}

@media (prefers-color-scheme: dark) {
  legend,
  h1,
  h2,
  h3 {
    color: $color-text-primary-dark;
  }
}
