@use "../../app/css/root.scss";
.CurlCommands {
  display: flex;
  flex-direction: column;
  .listcurlcommands {
    overflow: auto;
    height: 60vh;
  }
  .name {
    div {
      font-weight: bold;
      color: root.$color-error;
    }
  }
  .closeButton {
    align-self: center;
    justify-self: center;
    padding: root.$padding-default;
  }
}
