@use "../app/css/root.scss";
.ActionsSettings {
  .Block {
    flex-direction: row;
    flex-wrap: wrap;
    h2 {
      width: 100%;
    }
    .url,
    .auth {
      flex-grow: 1;
      .inputgeneric {
        width: 90%;
      }
    }
    .nextstep {
      display: flex;
      flex-direction: row;
      width: max-content;
      align-self: center;
      flex-grow: 1;
      justify-content: right;
      .ButtonGeneric {
        width: max-content;
        margin: 0 8px;
      }
    }
  }
}
