@import "../app/css/root.scss";

.Badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0;
  height: 2rem;
  min-width: 9rem;
  .label {
    background-color: $badge-background-color;
    color: $badge-label-color;
    padding: $padding-badge;
    text-transform: lowercase;
    height: inherit;
    width: max-content;
    border-radius: $border-radius-badge 0 0 $border-radius-badge;
    display: flex;
    align-items: center;
    @media (prefers-color-scheme: dark) {
      color: $badge-label-color-dark;
    }
  }
  .value {
    padding: $padding-badge;
    border-radius: 0 $border-radius-badge $border-radius-badge 0;
    font-weight: bold;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    &.uptodate {
      background-color: $badge-background-color-success;
      color: $badge-color-success;
      @media (prefers-color-scheme: dark) {
        color: $badge-color-success-dark;
      }
    }
    &.toupdate {
      background-color: $badge-background-color-error;
      color: $badge-color-error;
      @media (prefers-color-scheme: dark) {
        color: $badge-color-error-dark;
      }
    }
    &.uptodatewithwarn {
      background-color: $badge-background-color-warning;
      color: $badge-color-warning;
      @media (prefers-color-scheme: dark) {
        color: $badge-color-warning-dark;
      }
    }
    &.nostate {
      background-color: $badge-background-color-nostate;
      color: $badge-color-nostate;
      @media (prefers-color-scheme: dark) {
        color: $badge-color-nostate-dark;
      }
    }
  }
}
