@import "../app/css/root.scss";

.Badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0;
  height: 2rem;
  width: max-content;
  .label {
    background-color: grey;
    color: white;
    padding: $padding-badge;
    text-transform: lowercase;
    height: inherit;
    width: max-content;
    border-radius: $badge-component-border-radius 0 0
      $badge-component-border-radius;
    display: flex;
    align-items: center;
  }
  .value {
    padding: $padding-badge;
    border-radius: 0 $badge-component-border-radius
      $badge-component-border-radius 0;
    font-weight: bold;
    height: inherit;
    width: max-content;
    display: flex;
align-items: center;
    &.uptodate {
      background-color: $badge-color-success;
      color: white;
    }
    &.toupdate {
      background-color: $badge-color-error;
      color: white;
    }
    &.uptodatewithwarn {
      background-color: $badge-color-warning;
      color: white;
    }
  }
}
