@import "../app/css/root.scss";
.Block {
  min-width: 256px;
  display: flex;
  box-shadow: $boxshadow-default;
  padding: $padding-default;
  margin: $margin-default;
  border: $border-default;
}

@media (prefers-color-scheme: dark) {
  .Block {
    box-shadow: $boxshadow-default-dark;
  }
}