@use "../app/css/root.scss";
.Block {
  min-width: 256px;
  display: flex;
  flex-direction: row;
  box-shadow: root.$boxshadow-default;
  padding: root.$padding-default;
  margin: root.$margin-default;
  border: root.$border-default;
}

@media (prefers-color-scheme: dark) {
  .Block {
    box-shadow: root.$boxshadow-default-dark;
    border: root.$border-default-dark;
  }
}
