@use "../app/css/root.scss";

.ButtonGeneric {
  background-color: root.$button-generic-background-color;
  color: root.$button-generic-color;
  border-radius: root.$border-radius-button;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  height: max-content;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  width: max-content;

  &:not(:disabled) > .label:hover {
    cursor: pointer;
  }
  &.disabled,
  &:disabled > .label {
    background-color: root.$background-color-warning !important;
    color: root.$color-text-secondary !important;
    &:hover {
      cursor: not-allowed;
    }
  }
  &.round {
    border-radius: root.$border-radius-round;
  }
  &.success {
    background-color: root.$color-success;
    color: root.$color-text-secondary;
  }
  &.warning {
    background-color: root.$background-color-warning;
    color: root.$color-text-secondary;
  }
}
.ButtonGeneric:hover {
  cursor: pointer;
}
.ButtonGeneric:focus {
  border-color: root.$button-generic-border-color-focus;
}
