@use "../app/css/root.scss";
.ConfirmDialog {
  display: flex;
  flex-direction: column;
  .message {
    padding: root.$padding-default;
    margin: root.$margin-default;
  }
  .groupButtons {
    display: flex;
    flex-direction: row !important;
    column-gap: root.$columngap-default;
    justify-content: center;
  }
}
