@use "../app/css/root.scss";
.Dialog {
  // inspired from https://www.w3schools.com/howto/howto_css_modals.asp
  .modal-common {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.modal {
      opacity: root.$dialog-opacity;
      background-color: root.$dialog-color-background;
    }
  }
  .modal-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 11;
    .modal-content {
      position: relative;
      background-color: root.$background-color;
      border-radius: root.$border-radius-default;
      margin: auto;
      padding: root.$padding-default;
      width: max-content;
      width: auto;
      max-width: 80vw;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      max-height: 90vh;
      overflow-y: auto;
      border: root.$border-default;
      @media (prefers-color-scheme: dark) {
        background-color: root.$background-color-dark;
        color: root.$color-text-primary-dark;
        border: root.$border-default-dark;
      }

      .modal-header {
        padding: 0 0.5rem;
        border-radius: root.$border-radius-default root.$border-radius-default 0 0;
        color: root.$dialog-header-color;
        display: flex;
        align-items: start;
        min-width: 30vw;
        @media (prefers-color-scheme: dark) {
          background-color: root.$background-color-dark;
          color: root.$color-text-primary-dark;
        }
        h2 {
          text-transform: none;
          font-size: 1rem;
          border-bottom: none;
          flex: 1;
          margin: 0px 0;
        }
        .modal-close {
          flex: 0;
          width: 0.6rem;
          height: 0.6rem;
          margin-top: 0;
          justify-content: center;
          background-color: root.$dialog-header-button-background-color;
          color: root.$dialog-header-button-color;
          border: none;
          border-radius: root.$border-radius-round;
          .ti {
            font-size: 0.7rem;
          }
        }
        .modal-close:hover {
          cursor: pointer;
        }
      }
      .modal-body {
        border-radius: 0 0 root.$border-radius-default root.$border-radius-default;
      }
      .modal-footer {
        display: flex;
        justify-content: center;
        margin: root.$margin-default;
        padding: root.$padding-default;
      }
    }
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}
