@import "../app/css/root.scss";
.DisplayVersions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .productionVersion,
  .githubLatestRelease {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 4rem;
  }
  .separator {
    padding: 0 0.2rem 0 0.2rem;
  }
}
