@use "../app/css/root.scss";
.FieldSetAuthorizationHeader {
  .authToken {
    padding: root.$padding-default;
    position: relative;
    border: root.$border-default;

    .copyToClipboard {
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: root.$border-radius-round;
      background-color: root.$color-error;
      color: root.$color-text-secondary;
      padding: 0.3rem;
      .ti {
        font-size: 0.8rem;
      }
    }
  }
}
