@import "../app/css/root.scss";
.FieldSet {
  // important to use ellipsis
  min-width: 0;
  legend {
    font-weight: bold;
  }
  .content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      color: $text-dark;
    }
  }
}
