@import "../app/css/root.scss";
.GlobalGithubToken {
  align-self: center;
  justify-self: center;
  width: 40vw;
  &.Block {
    display: flex;
    flex-direction: column;
    .groupButtons {
      margin: $margin-default;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: $columngap-default;
    }
    .githubtoken {
      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        column-gap: $columngap-default;
        .inputgeneric {
          width: auto;
          flex-grow: 1;
        }
        .ButtonGeneric {
          border-radius: $border-radius-round;
          width: 2rem;
          height: 2rem;
          i {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
