@import "../app/css/root.scss";
.HttpHeader {
  .content {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    .inputgeneric::placeholder {
      color: #8c6cb1;
      font-weight: bold;
      font-size: 0.7rem;
    }
    .headerhttpkey {
      width: 8rem !important;
    }
    .headerhttpvalue {
      flex-grow: 1;
    }
  }
}
