@use "../app/css/root.scss";
.IconWithTooltip {
  .tooltip {
    position: absolute;
    z-index: 9999; /* Set a high z-index value */
    background-color: root.$background-color;
    border: root.$border-default;
    padding: 5px;
    border-radius: root.$border-radius-default;
    box-shadow: root.$boxshadow-default;
    display: flex;
    flex-direction: column;
    @media (prefers-color-scheme: dark) {
      background-color: root.$background-color-dark;
      border: root.$border-default-dark;
    }
    .tooltiptitle {
      border-bottom: root.$border-default;
      margin: 0.5rem;
      align-self: center;
      @media (prefers-color-scheme: dark) {
        border-bottom: root.$border-default-dark;
      }
    }
    .tooltipbody {
      margin: 1rem;
      font-weight: normal;
    }
  }
  i {
    font-size: 1.2rem;
    color: root.$color-info;
  }
}
