@import "../app/css/root.scss";

.ImageUploader {
  .inputUploadNative {
    display: none;
  }
  .dragDropButtonContainer {
    position: relative;
    width: $app-logo-width;
    height: $app-logo-height;
  }
  .imagePpreview {
    width: $app-logo-width;
    height: $app-logo-height;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .dragDropButton {
    width: $app-logo-width;
    height: $app-logo-height;
    background-color: transparent;
    position: absolute;
    border: $border-dashed;
    top: 0;
    left: 0;
    z-index: 1;
    @media (prefers-color-scheme: dark) {
      border: $border-dashed-dark;
    }
    .upload-button {
      cursor: pointer;

      padding: 0.25rem;
      font-size: 0.7rem;
      border: none;
      font-family: "Oswald", sans-serif;
      background-color: transparent;
      width: $app-logo-width;
      height: $app-logo-height;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .upload-button:hover {
      background-color: $background-color;
      font-weight: bold;
      opacity: 0.6;
      @media (prefers-color-scheme: dark) {
        background-color: $background-color-dark;
      }
    }
  }
}
