@use "../app/css/root.scss";

.LoginBlock {
  display: flex;
  flex-direction: column;
  row-gap: root.$rowgap-default;
  column-gap: root.$columngap-default;
  max-width: 35vw;
  align-items: center;
}
