@import "../app/css/root.scss";
.ResultCompare {
  display: flex;
  row-gap: $rowgap-default;
  .warning {
    font-weight: bold;
    color: $color-error;
  }
  .operation {
    height: max-content;
    .groupButtons {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5rem;
      button {
        width: 100%;
      }
    }
  }
  .result {
    .Badge {
      .value {
        width: max-content;
      }
    }
  }
}
