@use "../app/css/root.scss";

.ScrapGitHubReleaseTags {
  display: flex;
  flex-direction: column;
  row-gap: root.$rowgap-default;
  padding: root.$padding-default;
  width: 100%;
  .Block {
    align-items: center;
    .FieldSet {
      align-self: flex-start;
    }
    &.inactive {
      display: none;
    }
    &.filter {
      flex-direction: row;
      align-items: flex-start;
      .list {
        height: 20vh;
        overflow-y: auto;
        overflow-x: hidden;
        &.excluded {
          color: root.$color-error;
          font-weight: bold;
        }
      }
      .version {
        max-width: 19rem;
        font-weight: bold;
        .error {
          color: root.$color-error;
        }
        .success {
          color: root.$color-success;
        }
      }
    }
    .expression {
      flex-grow: 1;
    }
    .urlGithub {
      flex-grow: 1;
      .inputgeneric {
        width: 60%;
      }
      .HttpHeader {
        width: 80%;
      }
    }
    .content {
      width: 100%;
      .scrapContent {
        border: root.$border-default;
        border-radius: root.$border-radius-default;
        width: 99%;
        height: root.$form-scrap-content-height;
        padding: root.$padding-default;
        overflow-x: hidden;
        overflow-y: auto;
        @media (prefers-color-scheme: dark) {
          color: root.$color-text-primary-dark;
          border: root.$border-default-dark;
        }
      }
    }
    .nextstep {
      display: flex;
      flex-direction: row;
      width: max-content;
      align-self: center;
      flex-grow: 1;
      justify-content: right;
      .ButtonGeneric {
        width: max-content;
        margin: 0 8px;
      }
    }
    .getcontent {
      margin: 0 8px;
      width: 10rem;
      word-wrap: break-word;
    }
  }
}
