@import "../app/css/root.scss";
$searchbuttonsize: 2rem;
.Search {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.2rem;

  border: $border-search;
  border-radius: 6px;
  padding: 0 0.2rem;
  @media (prefers-color-scheme: dark) {
    border: $border-search-dark;
  }
  .inputgeneric {
    border: none;
  }
  .inputgeneric:focus {
    outline: none;
  }
  .ButtonGeneric {
    width: $searchbuttonsize;
    height: $searchbuttonsize;
    align-self: center;
    background-color: transparent;
    i {
      font-size: 1rem;
      color: $button-search-color;
      @media (prefers-color-scheme: dark) {
        color: $button-search-color-dark;
      }
    }
  }
}
