@use "../app/css/root.scss";

.Stepper {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: root.$rowgap-default;
  padding: root.$padding-default;
  .step {
    max-width: 4vw;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    row-gap: root.$rowgap-default;
    .separator {
      align-self: center;
      min-height: 3rem;
      width: 0.5rem;
      border-radius: root.$border-radius-default root.$border-radius-default
        root.$border-radius-round root.$border-radius-round;
      background-color: root.$stepper-background-color;
      box-shadow: root.$boxshadow-default;
      @media (prefers-color-scheme: dark) {
        background-color: root.$stepper-background-color-dark;
        box-shadow: root.$boxshadow-default-dark;
      }
      &.done {
        background-color: root.$color-success;
      }
    }
    .button {
      border-radius: root.$border-radius-round;
      border: 0;
      width: 3rem;
      height: 3rem;
      align-self: center;
      background-color: root.$color-text-secondary;
      box-shadow: root.$boxshadow-default;
      @media (prefers-color-scheme: dark) {
        box-shadow: root.$boxshadow-default-dark;
      }
      i {
        margin: auto;
        font-size: 1.5rem;
      }
      &.done {
        background-color: root.$color-success;
        color: root.$color-text-secondary;
        @media (prefers-color-scheme: dark) {
          color: root.$color-text-secondary-dark;
        }
      }
      &.undone {
        color: root.$color-text-primary;
      }
      &.active {
        background-color: root.$color-error;
        color: root.$color-text-secondary;
        @media (prefers-color-scheme: dark) {
          color: root.$color-text-secondary-dark;
          background-color: root.$color-error-dark;
        }
      }
    }
    label {
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    &.done {
      background-color: root.$color-success;
    }
  }
}
