@import "../app/css/root.scss";

.Stepper {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: $rowgap-default;
  padding: $padding-default;
  .step {
    max-width: 10vw;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    row-gap: $rowgap-default;
    .separator {
      align-self: center;
      min-height: 3rem;
      width: 0.5rem;
      border-radius: 4px 4px 100% 100%;
      background-color: $stepper-background-color;
      box-shadow: $stepper-box-shadow;
      @media (prefers-color-scheme: dark) {
        background-color: $stepper-background-color-dark;
        box-shadow: $stepper-box-shadow-dark;
      }
      &.done {
        background-color: $color-success;
      }
    }
    .button {
      border-radius: 100%;
      border: 0;
      width: 3rem;
      height: 3rem;
      align-self: center;
      background-color: $color-text-secondary;
      box-shadow: $boxshadow-default;
      @media (prefers-color-scheme: dark) {
        box-shadow: $boxshadow-default-dark;
      }
      i {
        margin: auto;
        font-size: 1.5rem;
      }
      &.done {
        background-color: $color-success;
        color: $color-text-secondary;
        @media (prefers-color-scheme: dark) {
          color: $color-text-secondary-dark;
        }
      }
      &.undone {
        color: $color-text-primary;
      }
      &.active {
        background-color: $color-error;
        color: $color-text-secondary;
        @media (prefers-color-scheme: dark) {
          color: $color-text-secondary-dark;
          background-color: $color-error-dark;
        }
      }
    }
    label {
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    &.done {
      background-color: $color-success;
    }
  }
}
