@import "../app/css/root.scss";

.Summary {
  display: flex;
  flex-direction: column;
  row-gap: $rowgap-default;
  padding: $padding-default;
  width: 100%;
  .Block {
    &.details {
      flex-wrap: wrap;
      h2 {
        width: 100%;
      }
    }
    &.save {
      row-gap: $rowgap-default;
      column-gap: $columngap-default;
      align-items: center;
      justify-content: center;
    }
    .mustbesaved {
      animation-name: greenPulse;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      color: $color-text-secondary;
    }
  }
}
@keyframes greenPulse {
  from {
    background-color: $sumury-keyframes-greenPulse-color-1;
    -webkit-box-shadow: 0 0 9px $sumury-keyframes-greenPulse-color-1;
  }
  50% {
    background-color: $sumury-keyframes-greenPulse-color-2;
    -webkit-box-shadow: 0 0 10px $sumury-keyframes-greenPulse-color-2;
  }
  to {
    background-color: $sumury-keyframes-greenPulse-color-3;
    -webkit-box-shadow: 0 0 9px $sumury-keyframes-greenPulse-color-3;
  }
}
