@use "../app/css/root.scss";

.Summary {
  display: flex;
  flex-direction: column;
  row-gap: root.$rowgap-default;
  padding: root.$padding-default;
  width: 100%;
  .Block {
    .Block {
      display: flex;
      flex-direction: column;
      h3 {
        width: 100%;
      }
    }
    &.details {
      flex-wrap: wrap;
      h2 {
        width: 100%;
      }
    }
    &.save {
      row-gap: root.$rowgap-default;
      column-gap: root.$columngap-default;
      align-items: center;
      justify-content: center;
    }
    &.identity,
    &.actions {
      flex-grow: 1;
    }
    .mustbesaved {
      animation-name: greenPulse;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      color: root.$color-text-secondary;
    }
  }
}
@keyframes greenPulse {
  from {
    background-color: root.$sumury-keyframes-greenPulse-color-1;
    -webkit-box-shadow: 0 0 9px root.$sumury-keyframes-greenPulse-color-1;
  }
  50% {
    background-color: root.$sumury-keyframes-greenPulse-color-2;
    -webkit-box-shadow: 0 0 10px root.$sumury-keyframes-greenPulse-color-2;
  }
  to {
    background-color: root.$sumury-keyframes-greenPulse-color-3;
    -webkit-box-shadow: 0 0 9px root.$sumury-keyframes-greenPulse-color-3;
  }
}
