@import "../app/css/root.scss";

.containertoast {
  height: max-content;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  max-width: 50vw;
  .toast {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 0;
    background-color: $background-color;
    border-radius: $border-radius-toast;
    display: flex;
    box-shadow: $boxshadow-toast;
    overflow: hidden;
    justify-content: space-between;
    @media (prefers-color-scheme: dark) {
      background-color: $background-color-dark;
      box-shadow: $boxshadow-toast-dark;
    }

    p {
      margin: 0.3rem 0 0.3rem 0;
    }
    &.info {
      border-left: $toast-color-border-info;
      i {
        color: $toast-color-info;
      }
    }
    &.success {
      border-left: $toast-color-border-success;
      i {
        color: $toast-color-success;
      }
    }
    &.warn {
      border-left: $toast-color-border-warn;
      i {
        color: $toast-color-warn;
      }
    }
    &.error {
      border-left: $toast-color-border-error;
      i {
        color: $toast-color-error;
      }
    }
    .toast:not(:last-child) {
      margin-bottom: 50px;
    }
    .container-1,
    .container-2 {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
    .container-1 {
      flex-grow: 0;
    }
    .container-2 {
      overflow: auto;
      .summary {
        color: $color-text-primary;
        font-weight: 600;
        font-size: 0.9rem;
        @media (prefers-color-scheme: dark) {
          color: $color-text-primary-dark;
        }
      }
      .detail {
        font-size: 0.7rem;
        font-weight: 400;
        color: $toatst-color-detail;
        padding: $padding-default;
        overflow: auto;
      }
    }

    .container-1 i {
      font-size: 35px;
    }
    button {
      align-self: flex-start;
      background-color: transparent;
      font-size: 1.5rem;
      color: $toatst-color-button;
      line-height: 0;
      border: none;
      cursor: pointer;
      margin: 1rem 0.5rem 0 0.5rem;
    }
  }
}
