@use "../../app/css/root.scss";

.ControlManager {
  display: flex;
  flex-direction: row;
  margin-top: root.$fixedheadermargintop;
  .Stepper {
    align-self: stretch;
    margin: root.$margin-default;
  }
}
